a:link
{
	color: rgb(153,153,153);
}
a:visited
{
	color: rgb(153,0,0);
}
a:active
{
	color: rgb(102,102,102);
}
body
{
	color: rgb(0,0,0);
	background-color: rgb(255,255,255);
}
h1
{
	color: rgb(0,0,0);
}
h2, marquee
{
	color: rgb(0,0,0);
}
h3
{
	color: rgb(0,0,0);
}
h4
{
	color: rgb(0,0,0);
}
h5
{
	color: rgb(0,0,0);
}
h6
{
	color: rgb(0,0,0);
}
BUTTON 
{
	background-color: rgb(0,0,0);	
	border-color: rgb(204,204,204);
	color:white;
}
LABEL, .MSTHEME-LABEL
{
	color: rgb(0,0,0);
}
TEXTAREA
{
	border-color: rgb(102,102,102);
	color:black;
}
FIELDSET
{
	border-color: rgb(102,102,102);
	color:black;
}
LEGEND
{
	color: rgb(0,0,0);
}
SELECT
{
	border-color: rgb(102,102,102);
	color:black;
}
TABLE
{
	table-border-color-light: rgb(204,204,204);
	table-border-color-dark: rgb(102,102,102);
	border-color: rgb(102,102,102);
	color: rgb(0,0,0);
}
CAPTION 
{
	color: rgb(0,0,0);
}
TH
{
	color: rgb(0,0,0);
}
HR
{
	color: rgb(0,0,0);
}
TD
{
	border-color: rgb(102,102,102);
}
