vti_encoding:SR|utf8-nl
http\://java.sun.com/apm:about/links.htm
http\://www.caucho.com:resin/index.htm
http\://www6.software.ibm.com/dl/dklx130/dklx130-p:resin/dl_make.htm
mailto\:zixia@zixia.net:resin/resin_files.htm
http\://www.gnu.org/philosophy/free-sw.html:java/native_mode.htm
http\://sources.redhat.com/java/gdb.html:java/native_mode.htm
http\://sources.redhat.com/java:about/links.htm java/native_mode.htm
http\://java.sun.com/products/servlet:about/links.htm
http\://java.sun.com/products/jsp:about/links.htm
http\://java.sun.com/j2ee:about/links.htm
http\://ww.java.sun.com/j2ee:java/j2ee_web.htm
http\://www.caucho.com/download/resin-1.2.b2.tar.gz:resin/dl_make.htm
mailto\:主讲人：李卓桓(zixia@yahoo.com:about/index.htm
http\://sources.redhat.com/gdb:java/native_mode.htm
mailto\:jsp-interest@java.sun.com:about/links.htm
mailto\:zixia@yahoo.com:index.htm about/qa.htm
http\://www.caucho.com/download/index.xtp:resin/index.htm
http\://oss.software.ibm.com/developerworks/opensource/jikes/project:about/links.htm resin/dl_make.htm java/native_mode.htm
mailto\:servlet-interest@java.sun.com:about/links.htm
